<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <% if(currentUser) { %>
    <a href="/new-message">Write a new message</a>
    <a href="/logout">Click here to logout</a>
    <br />
    <h1>Messages</h1>
    <% if(currentUser.membership_status || currentUser.admin_status) { %> <%
    messages.forEach(function(message, index) { %>
    <div>Message <%= index + 1 %></div>
    <div>Title: <%= message.title %></div>
    <div>Message: <%= message.message %></div>
    <div>Author: <%= message.author %></div>
    <div>Date: <%= message.created_at %></div>
    <% if(currentUser.admin_status) { %>

    <p>And since you're a cool admin, you get to delete messages!</p>
    <form action="/<%= message.id %>/delete" method="POST">
      <button
        type="submit"
        onclick="return confirm('Are you sure you want to delete this message?')"
      >
        Delete message
      </button>
    </form>

    <br />
    <% } %> <% }); %> <% } else if(!currentUser.membership_status &&
    !currentUser.admin_status){%> <% messages.forEach(function(message, index) {
    %>
    <div>Message <%= index + 1 %></div>
    <div>Title: <%= message.title %></div>
    <div>Message: <%= message.message %></div>
    <br />
    <% }); %> <% } %> <% } else {%>
    <h1>Please <a href="/sign-up">Sign Up from here</a></h1>
    <br /><br /><br />
    <h1>if you already have an account <a href="/login">Login from here</a></h1>
    <% messages.forEach(function(message, index) { %>
    <div>Message <%= index + 1 %></div>
    <div>Title: <%= message.title %></div>
    <div>Message: <%= message.message %></div>
    <br />
    <% }); %> <% } %>
  </body>
</html>
